.App {
  text-align: center;
}

.bg-purple{
  background-color: #974fd0 !important
}

.tc-purple{
color: #974fd0 !important
}

.tc-white{
  color: white !important
}

.all-tasks, .each-task {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.each-task{
  border: 1px solid grey;
}
.above-task{
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

form > div {
  position: relative;
}

form label{
  position: absolute;
  color: gray;
  left: 10px;
  top: -12px;
  background-color: #fff;
  padding: 0 10px;
}

form{
  width: 90%;
  max-width: 600px;
  margin: 40px auto;
}
@media (min-width:1000px) {
  .name{
    margin-left: 70%;
     
   
  }
  .all{
    margin-right: 20px;
    margin-top: 10px;
    
  }
  .create{
    margin-right: 20px;
    margin-top: 10px;
  }
  
}